
#opening-page {
  height: 720px;
  width: 737px;
  height: 100vh;
  z-index: 3;
  position: absolute;
  background-size: cover;
  background-color: rgb(0, 226, 234, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.opening-logo {
  height: 450px;
  width: 600px;
  margin-top: 40px;
}

#new-game-button, #instructions {
  height: 80px;
  width: 200px;
  margin-bottom: 50px;
  animation: pulse 2s infinite;
}

.buttons-wrapper {
  display: flex;
  gap: 38px;
  margin-bottom: 16px;
}

.new-wrapper:hover, .inst-wrapper:hover {
  transform: scale(1.2);
  transition: all ease-in-out 1s;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}